<div class="container">
    <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <h4>Company</h4>
            <ul>
                <li><a href="javascript:void(0);">About Learn Anything</a></li>
                <li><a ui-sref="anon.ethical-service" >Ethical Service Guidelines</a></li>
                <li><a ui-sref="anon.parent-learner">Students’ Testimonials</a></li>
                <li><a ui-sref="anon.tutor-testimonials" href="javascript:void(0);">Tutors’ Testimonials</a></li>
                <li><a href="javascript:void(0);">Contact Us</a></li>
                <li><a href="javascript:void(0);">Careers</a></li>
            </ul>
        </div>
        <div class="col-sm-3 col-xs-6">
            <h4>Resources</h4>
            <ul>
                <li><a href="javascript:void(0);">FAQ / Support</a></li>
                <li><a href="javascript:void(0);">Blog</a></li>
                <li><a href="javascript:void(0);">Privacy Policy</a></li>
                <li><a href="javascript:void(0);">Terms and Conditions</a></li>
            </ul>
        </div>
        <div class="col-sm-6 col-xs-12">
            <h4>Connect with us</h4>
            <p>Skip the learning curve! Get exclusive discount, updates and more... </p>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter email">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary">Get Free Updates</button>
                </span>
            </div>
            <div class="social-lnk"> 
                <ul>
                    <li> <a href="javascript:void(0);"><i class="fa fa-facebook"></i></a></li>
                    <li> <a href="javascript:void(0);"><i class="fa fa-twitter"></i></a></li>
                    <li> <a href="javascript:void(0);"><i class="fa fa-google"></i></a></li>
                    <li> <a href="javascript:void(0);"><i class="fa fa-pinterest"></i></a></li>
                    <li> <a href="javascript:void(0);"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
