<section class="content">
    <ol class="breadcrumb">
        <li><a href="#/dashboard"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Add Announcement</li>
    </ol>
    <h2>
        Add Announcement
    </h2>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-warning">
                <!--                <div class="box-header with-border">
                                  
                                </div> /.box-header -->
                <span us-spinner="{radius:30, width:8, length: 16, scale:0.50}"></span>
                <div class="box-body">

                    <alert class="alert" ng-repeat="error in errors" type="danger">{{error}}</alert>

                    <form role="form" name="announcementForm" novalidate>
                        <div  ng-show ="vm.status.message" uib-alert ng-class="vm.status.class" close="vm.closeAlert()">{{vm.status.message}}</div>
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" class="form-control" name="title" ng-model="vm.announcementsDetails.title" placeholder="Enter Announcement Title" required>
                            <span class="text-danger" ng-show="(announcementForm.title.$dirty) || announcementForm.$submitted">
                                <span ng-show="announcementForm.title.$error.required">Announcement Title is required.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Announcement Date</label>
                            <input type="text" name="announcementDate" readOnly=true class="form-control" uib-datepicker-popup ng-model="vm.announcementsDetails.announcementDate" is-open="vm.datepickerOpened" datepicker-options="vm.dateOptions" show-button-bar=false required/>
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="vm.datePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            <span class="text-danger" ng-show="(announcementForm.announcementDate.$dirty) || announcementForm.$submitted">
                                <span ng-show="announcementForm.announcementDate.$error.required">Announcement Date is required.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>Start Time</label>
                            <input type="text" class="form-control" name="startTime" ng-model="vm.announcementsDetails.startTime" placeholder="Enter announcement start time" required>
                            <span class="text-danger" ng-show="(announcementForm.startTime.$dirty) || announcementForm.$submitted">
                                <span ng-show="announcementForm.startTime.$error.required">Announcement start time is required.</span>
                            </span>
                        </div>
                        <div class="form-group">
                            <label>End Time</label>
                            <input type="text" class="form-control" name="endTime" ng-model="vm.announcementsDetails.endTime" placeholder="Enter announcement end time" required>
                            <span class="text-danger" ng-show="(announcementForm.endTime.$dirty) || announcementForm.$submitted">
                                <span ng-show="announcementForm.endTime.$error.required">Announcement end time is required.</span>
                            </span>
                        </div>
                        
                        <div class="form-group">
                            <label>Image</label>
                            <input type="file" class="form-control" ngf-select name="file" ng-model="vm.announcementsDetails.file" accept="image/*" ngf-max-size="2MB" required
                           ngf-model-invalid="errorFiles">
                            <span class="text-danger" ng-show="(announcementForm.file.$dirty) || announcementForm.$submitted">
                                <span ng-show="announcementForm.file.$error.maxSize">File too large {{errorFiles[0].size / 1000000|number:1}}MB: max 2M</span>
                                <span ng-show="announcementForm.file.$error.required">Announcement image is required.</span>
                            </span>
                            <img ng-show="announcementForm.file.$valid" ngf-thumbnail="vm.announcementsDetails.file" class="thumb"> <button ng-click="vm.announcementsDetails.file = null" ng-show="vm.announcementsDetails.file">Remove</button>
                        </div> 
                        
                        <div class="form-group">
                            <label>Price</label>
                            <input type="text" class="form-control" name="price" ng-model="vm.announcementsDetails.price" placeholder="Enter announcement price">
                        </div>  
                        
                        <div class="form-group">
                            <label>Venue</label>
                            <input type="text" class="form-control" name="venue" ng-model="vm.announcementsDetails.venue" placeholder="Enter announcement venue">
                        </div>
                        
                        <div class="form-group">
                            <label>Url</label>
                            <input type="text" class="form-control" name="url" ng-model="vm.announcementsDetails.url" placeholder="Enter announcement url">
                        </div>
                        <div class="box-footer btn-catagory-fix">
                            <button type="submit" class="btn btn-primary" ng-click="vm.createAnnouncement(announcementForm.$valid)" ng-disabled="!announcementForm.$valid">Submit</button>
                            <a ui-sref="admin.announcements">Cancel</a>
                        </div>
                    </form>
                </div> <!-- box-body -->
            </div> <!-- box -->
        </div> <!-- col -->
    </div> <!-- ..row -->
</section>