<div class="form-group sngl-frm-rw">
    <div class="gndr-slct">
        <select class="SlectBox" >
            <option>Mr.</option>
            <option>Mrs.</option>
            <option>Miss.</option>
        </select>
    </div>
    <div class="form-rw">
        <div class="form-col-2">
            <input type="text" class="form-control" placeholder="First Name" ng-model="vm.user.firstname" />
        </div>
        <div class="form-col-2">
            <input type="text" class="form-control" placeholder="Last Name" ng-model="vm.user.lastname"  />
        </div>
    </div>
</div>