<div class="modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <!--<button type="button" class="close" data-dismiss="modal">&times;</button>-->
            <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            <div class="popup-profile">
                <div class="popup-avatar">
                	<div class="login-avt-bx">
                    	<div class="login-avt-bxinr" ng-if="$ctrl.last">
                            <img ng-if="$ctrl.last" ng-src="{{$ctrl.imagePaths.tutorAvatar}}{{$ctrl.last.info.profileImg}}" />
                        </div>
                        <div class="login-avt-bxinr" ng-if="!$ctrl.last">
                            <img ng-if="!$ctrl.last" ng-src="img/user.png" />
                        </div>    
                    </div>
                </div>
                <h4 ng-show="$ctrl.last" >{{$ctrl.last.info.firstname}} {{$ctrl.last.info.lastname}}</h4>
            </div>
            <div class="popup-pro-ipt">
                <div class="chc-ttl-inf" ng-show="$ctrl.status">
                    <span>{{$ctrl.status.message}}</span>
                </div>
                <form accept-charset="UTF-8" role="form" class="form-signin" novalidate name="forgotpwdForm" ng-submit="$ctrl.forgotpwd(forgotpwdForm.$valid)" >
                    <div class="form-group" ng-show="!$ctrl.last">
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="$ctrl.forgotuser.email" required >
                        <div class="text-center chc-ttl-inf" ng-show="forgotpwdForm.email.$submitted || forgotpwdForm.email.$touched">
                            <span ng-show="forgotpwdForm.$error.email">Invalid email address.</span>
                        </div>
                    </div>
                 
                    <div class="form-group">
                        <input type="submit" class="btn btn-pink-2x" value="submit" ng-disabled="forgotpwdForm.$invalid">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

