<!-- Left side column. contains the logo and sidebar -->
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a ui-sref="admin.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> </i>
          </a>
         
        </li>
    
        
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-users"></i> <span>Tutor</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addtutor"><i class="fa fa-circle-o"></i> Add a new tutor</a></li>
            <li><a ui-sref="admin.tutors"><i class="fa fa-circle-o"></i> List all tutors</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-users"></i> <span>Learner</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addlearner"><i class="fa fa-circle-o"></i> Add a new learner</a></li>
            <li><a ui-sref="admin.learners"><i class="fa fa-circle-o"></i> List all learners</a></li>
          </ul>
        </li>
          <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-university"></i> <span>Institutions</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addinstitution"><i class="fa fa-circle-o"></i> Add a new institution</a></li>
            <li><a ui-sref="admin.institutions"><i class="fa fa-circle-o"></i> List all institutions</a></li>
          </ul>
        </li>
        
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-book"></i> <span>Subjects</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addsubject"><i class="fa fa-circle-o"></i> Add a new subject</a></li>
            <li><a ui-sref="admin.subjects"><i class="fa fa-circle-o"></i> List all subject</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-map-marker"></i> <span>Specialised Areas</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addspecialisedarea"><i class="fa fa-circle-o"></i> Add a new specialised area</a></li>
            <li><a ui-sref="admin.specialisedareas"><i class="fa fa-circle-o"></i> List all specialised areas</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-map-marker"></i> <span>Special Expertise</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addexpertise"><i class="fa fa-circle-o"></i> Add a new expertise</a></li>
            <li><a ui-sref="admin.expertises"><i class="fa fa-circle-o"></i> List all expertise</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-bullhorn"></i> <span>Announcements</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addannouncement"><i class="fa fa-circle-o"></i> Add a new announcement</a></li>
            <li><a ui-sref="admin.announcements"><i class="fa fa-circle-o"></i> List all announcements</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-certificate"></i> <span>Badges</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addbadge"><i class="fa fa-circle-o"></i> Add a new badge</a></li>
            <li><a ui-sref="admin.badges"><i class="fa fa-circle-o"></i> List all badges</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-university"></i> <span>Banks</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addbank"><i class="fa fa-circle-o"></i> Add a new bank</a></li>
            <li><a ui-sref="admin.banks"><i class="fa fa-circle-o"></i> List all banks</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-certificate"></i> <span>Certificates</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addcertificate"><i class="fa fa-circle-o"></i> Add a new certificate</a></li>
            <li><a ui-sref="admin.certificates"><i class="fa fa-circle-o"></i> List all certificates</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-map-marker"></i> <span>Locations</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addlocation"><i class="fa fa-circle-o"></i> Add a new location</a></li>
            <li><a ui-sref="admin.locations"><i class="fa fa-circle-o"></i> List all locations</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
 